body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #3B4349;
}

.container {
  display: flex;
  height:100vh;
}
@keyframes content-animation {
  from {opacity: 0.8;}
  to {opacity: 1;}
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: content-animation;
  animation-duration: 2s;
}

.center {
  text-align: center;
}

.dashed-lines {
  margin: 1em 0
}

.link a {
  text-decoration: none;
  color: #D7D6D1;
  font-weight: 700;
}

.link a:hover {
  opacity: 0.9;
}

.content .name-content {
  flex: 0.75;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content .email-and-social {
  flex: 0.25;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.name-content .name {
  font-family: 'Bungee';
  font-size: 4em;
}

.name-content .description {
  font-size: 2em;
}

.email-and-social .email {
  font-size: 1.5em;
}

.email-and-social .social {
  display: flex;
  margin: 1rem 2rem;
  justify-content: center;
}

.social div {
  padding-right: 1rem;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.social .github {
  background-image: url('images/github.png');
}

.social .linkedin {
  background-image: url('images/linkedin.png');
}

.social .social-item:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .name-content .name {
    font-size: 2.5em;
  }
  .name-content .description {
    font-size: 1em;
  }
  .email-and-social .email {
    margin-top: 2em;
    font-size: 1em;
  }
}
